<header>
  <h1>URL Shortener API</h1>
  <p>Created by <a href="https://autumnchris.github.io/portfolio" target="_blank">Autumn Bullard</a> &copy; <%= new Date().getFullYear(); %></p>
  <div class="api-description">
    <p>An API that takes a submitted URL and creates an alias URL that, if navigated to, will redirect to the original URL.</p>
    <p>View the <a href="https://github.com/autumnchris/url-shortener-api" target="_blank">source code</a> for this project.</p>
  </div>
  <hr />
</header>