<%- include ('./partials/header-content') -%>
<main>
  <section>
    <h2>Shorten a URL</h2>
    <form method="post" novalidate>
      <div class="form-group">
        <input type="url" name="url" placeholder="Submit a URL to be shortened" value="<%= typeof data !== 'undefined' ? data : '' %>" aria-label="Submit a URL to be shortened" id="url" autocomplete="off" required>
      </div>
      <div class="button-group">
        <button type="submit" class="button">Submit</button>
        <a class="button" href="/api" target="_self">Cancel</a>
      </div>
    </form>
    <% if (typeof errorMessage !== 'undefined') { %>
      <p class="message error-message"><span class="fa fa-exclamation-circle fa-lg fa-fw" aria-hidden="true"></span> <%= errorMessage %></p>
    <% } %>
  </section>
</main>