<%- include ('./partials/header-content') -%>
<main>
  <section>
    <h2>Submitting a New URL</h2>
    <p><a href="/api/shorturl/new" target="_self">Submit a web address</a> to get a generated alias URL that can be used to redirect to the original URL.</p>
    <p>For example, if I wanted an alias URL that will redirect to GitHub's homepage I would submit the link <code>https://github.com</code> and upon submission I would receive a <a href="/alias/mt8biol1" target="_blank">new URL</a> that I can now use to redirect to the original URL.</p>
  </section>
  <section>
    <h2>Retrieving All Shortened URLs</h2>
    <p>To get a list of all submitted shortened URLs go to the route:</p>
    <pre><code>/api/shorturls</code></pre>
  </section>
</main>