<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= typeof title !== 'undefined' ? `${title} | ` : '' %>URL Shortener API</title>
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <%- body %>
    <script>
      function events() {
        document.addEventListener('click', event => {
          const element = event.target;
          element.matches('.copy-button.api-urls') ? copyText('https://autumnchris-url-shortener-api.onrender.com/api/shorturls') : null;
        });
      }
      function copyText(text) {
        navigator.clipboard.writeText(text);
      }
      events();
    </script>
  </body>
</html>